.map {
  @include flex(column, center, center, wrap);
  &__row {
    width: 100%;
    @include flex(row, center, center, wrap);
  }
  &__header {
    color: $color-orange;
    font-size: $fs-lg;
  }
  &__desc{
    margin-top:10px;
    margin-bottom: $space-1x1o2 * 1.5;
    font-size:$fs-sm;
  }
}
@include responsive('large'){
  &__desc{
    text-align: center;
  }
}
