@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}
@mixin button($color, $bg-color, $color-hover, $bg-color-hover, $bg-radius: 10px) {
  @include text($color, $fs-sm, $fw-bold-1);
  background-color: $bg-color;
  border-radius: $bg-radius;
  padding: 10px 20px;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  &:focus-visible {
    border: none;
    outline: none;
  }
}
@mixin flex($direction: row, $justify: null, $align: null, $wrap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin responsive($screen) {
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Error";
  }
}
