$exam-space: 1rem;
$exam-space-1o2: $exam-space * 0.5;
$exam-space-2x: $exam-space * 2;

$exam-color: #2e2e2e;
$exam-color-warning: #c83727;
$exam-color-grey-light: #f5f5f5;
$exam-color-grey: #dcdcdc;
$exam-color-white: #ffffff;

$exam-font-base: 16px;
$exam-font-h3: $exam-font-base * 2;
