.c-exam-home {
    text-align: center;
    margin-top: $space-2x;

    &__btn {
        padding: $space-1o2;
        background-color: $color-white;
        border-color: $color-grey;
        margin-left: $space;
    }

    &__message {
        font-size: $font-h3;
        margin: $space 0;
    }
}