.c-introduction {
  background-color: $bg-color-intro;
  padding: 100px 20px 100px;
  color: $color-pr-1;
  @include flex(row, space-around, center, wrap);
  &__info {
    @include flex(column, center, center, wrap);
    width: 50%;
  }
  &__title {
    @include text($color-pr-1, $fs-xl, $fw-bold-2);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 14px;
  }
  &__description {
    color: $color-se-3;
    text-align: center;
    margin-bottom: 36px;
    line-height: 30px;
    max-width: 700px;
  }
  &__btn-demo {
    @include button($color-se-1, $color-red, $color-se-1, null, 1px);
    border: none;
    width: 180px;
    padding: 20px 0;
    font-size: $fs-sm;
    border-radius: 10px;
    span {
      @include text(#ffffff, $fs-sm, $fw-normal);
    }
    margin: 10px;
  }
  &__btn-shopping {
    @extend .c-introduction__btn-demo;
    background-color: $color-pr-1;
    border-color: transparent;
  }
}

@include responsive('extra-large') {
  .c-introduction {
    &__title {
      font-size: $fs-lg;
    }
    &__btn-demo {
      span {
        font-size: $fs-sm;
      }
      margin: 0 10px;
    }
    &__desc {
      img {
        height: 350px;
      }
    }
  }
}
@include responsive('large') {
  .c-introduction {
    flex-direction: column;
    &__info {
      width: 100%;
      margin-bottom: 80px;
    }
  }
}

@include responsive('medium') {
  .c-introduction {
    &__desc {
      img {
        height: auto;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@include responsive('small') {
  .c-introduction {
    padding: 50px 25px;
    &__description {
      font-size: $fs-sm;
    }
    &__btn-demo,
    &__btn-shopping {
      padding: 10px 5px;
    }
    
  }
}

@media screen and (max-width: 490px) {
  .c-introduction {
    &__btn-group{
      @include flex(column, center, center, wrap);
    }
    &__btn-demo,
    &__btn-shopping {
      margin:10px;
    }
  }
}
