.c-about {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  &__text {
    padding: 25px 0;
    &--primary {
      color: $color-pr-1;
    }
  }
  &__desc {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5rem;
  }
  &__image{
    border: 2px solid #fff;
    box-shadow: 0 0 10px #fff;
  }
}
@media only screen and (max-width: 800px) {
  .c-about {
    padding: 20px 30px;
    &__text {
      font-size: 22px;
      padding: 20px 0;
    }
    &__desc {
      font-size: 15px;
    }
  }
}
