.c-cart {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0;
  @include flex(column, center, center, wrap);
  &__row {
    width: 100%;
    @include flex(row, center, center, wrap);
  }
  &__header {
    color: $color-orange;
    margin-bottom: $space-1x1o2*2;
  }
  &__footer{
    width:80%;
    @include flex(row,space-between,center, nowrap);
    margin-top: $space-1x1o2*2;
    padding:0 $space;
  }
  &__btn-checkout{
    @include button(#fff, $color-red, #fff, $color-orange);
    padding: 15px 30px;
    font-size: $fs-sm + 3px;
    line-height:1.5rem;
    text-transform: uppercase;
  }
  &__total-amount{
    font-size: $fs-md + 3px;
    &--highlighted{
      color: $color-red;
      font-weight: $fw-bold-2;
    }
  }
}
