.c-login-form {
  background: rgb(230, 229, 229);
  background-size: contain;
  height: 680px;
  display: flex;
  justify-content: center;
  padding: 34px 0px;
  width: 100%;
  &__form-content {
    width: 60%;
    height: 100%;
    position: relative;

    #form-login {
      width: 100%;
      position: absolute;
      right: 0;
      height: 100%;
      @include flex(column, center, flex-end, nowrap);
    }
  }

  &__slogan {
    @include text(#ffffff, 35px, $fw-bold-2);
    background-image: linear-gradient(to right, rgba(73, 220, 225, 1), rgba(57, 163, 251, 1));
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    width: 100%;
    padding: 16px 75px;
    box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
  }
  &__form-field {
    width: 100%;
    background-color: #ffffff;
    padding: 32px;
    @include flex(column, center, center, nowrap);
  }
  &__form-submit {
    @include button(#ffffff, rgb(9, 81, 139), #ffffff, rgba(87, 179, 255, 1));
    box-shadow: 0px 4px 8px rgba(46, 153, 241, 0.5);
    padding: 9px 56px;
    span {
      @include text(#ffffff, 20px, $fw-bold-2);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .form-message {
    color: #f33a58;
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
  }
  &__form-group.invalid {
    .form-control {
      border-color: #f33a58;
    }
  }
  &__form-group {
    width: 100%;
    margin: 20px;
    .check-price {
      @include flex(row, space-between, flex-start, nowrap);
      position: relative;
      margin-bottom: 10px;
      .form-check {
        padding-left: 0;
        label {
          font-size: 25px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          span {
            margin-left: 45px;
          }
        }
        label.right {
        }

        .price {
          margin: 10px 0;
          @include text($color-red, 20px, $fw-bold-1);
        }
        input[type='checkbox'] {
          // style for the checkbox input
          appearance: none;
          background-color: transparent;
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border-radius: 0.15em;
          border: solid 2px #57b3ff;
          display: grid;
          place-content: center;
          &::before {
            content: '';
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $color-pr-2;
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          }
          &:checked::before {
            transform: scale(1);
          }
        }
        .price {
          display: none;
        }
      }
      .form-check.right {
        @include flex(column, center, flex-end, nowrap);
      }
    }
  }
  &__form-label {
    font-size: $fs-md + 3px;
    color: rgba(6, 186, 232, 1);
    font-weight: $fw-bold-1;
    margin-bottom: $space-1o2;
    line-height: 1.5rem;
    .icon {
      margin-right: 10px;
    }
  }
  &__form-control {
    border: solid 2px $color-pr-3 !important;
    height: 60px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: $space 0;
    &:focus {
      border-color: $color-pr-1 !important;
    }
  }
  &__form-message.form-message-success {
    // display: none;
    color: #1ea304;
    font-size: $fs-md;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1400px) {
  .login-form {
    &__slogan {
      padding: 16px 40px;
    }
  }
}
@media only screen and (max-width: 1240px) {
  .login-form {
    &__form-content {
      width: 60%;
    }
    &__slogan {
      font-size: 25px;
      padding: 16px 40px;
    }
    &__phone-image {
      img {
        width: 90%;
        height: auto;
      }
    }
    &__form-label {
      font-size: 20px;
    }
    &__form-group {
      .check-price {
        .form-check {
          label {
            font-size: 20px;
            span {
              margin-left: 34px;
            }
          }
        }
      }
    }
    &__form-submit {
      span {
        font-size: $fs-lg;
      }
    }
  }
}

@include responsive('large') {
  .login-form {
    &__form-content {
      width: 70%;
    }
    &__slogan {
      font-size: $fs-md;
      padding: 16px 20px;
    }
    &__phone-image {
      img {
        width: 85%;
        height: auto;
      }
    }
    &__form-label {
      font-size: $fs-md;
    }
    &__form-group {
      .check-price {
        .form-check {
          label {
            font-size: $fs-md;
          }
          .price {
            font-size: $fs-md;
          }
        }
      }
    }
    &__form-submit {
      span {
        font-size: $fs-lg;
      }
    }
  }
}
@include responsive('medium') {
  .login-form {
    &__form-content {
      width: 75%;
      #form-login {
        width: 92%;
      }
    }
    &__slogan {
      font-size: $fs-md;
      padding: 16px 20px;
    }
    &__phone-image {
      img {
        width: 85%;
        height: auto;
      }
    }
    &__form-label {
      font-size: $fs-md;
    }
    &__form-group {
      .check-price {
        display: block;
        .form-check {
          label {
            font-size: $fs-md;
            span {
            }
          }
          .price {
            font-size: $fs-md;
          }
        }
        .form-check.right {
          display: block;
        }
      }
    }
    &__form-submit {
      span {
        font-size: $fs-md;
      }
    }
    &__form-control {
      height: 40px;
    }
  }
}
@media only screen and (max-width: 650px) {
  .login-form {
    display: block;
    position: relative;
    &__form-content {
      width: 95%;
    }
    &__phone-image {
      display: none;
    }
  }
}
